### LIBRARIES

In [1]:
import os
import glob
import pandas as pd
import pycountry_convert as pc
import matplotlib.pyplot as plt

### DATA LOADING

In [2]:
data_dir = r"C:\Users\LOCALGHOST\Desktop\DATASETS\AIR_QUALITY\WAQI\*.csv" #add your path here

In [3]:
csv_list = [f for f in glob.glob(data_dir)]
csv_list

['C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2015H1.csv',
 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2016H1.csv',
 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2017H1.csv',
 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2018H1.csv',
 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2019Q1.csv',
 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2019Q2.csv',
 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2019Q3.csv',
 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2019Q4.csv',
 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\waqi-covid19-airqualitydata-2020.csv']

### AGGREGATION

In [4]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f,skiprows=4) for f in csv_list ])

In [5]:
type(combined_csv)

pandas.core.frame.DataFrame

### CHECK FOR DUPLICATE ROWS

In [6]:
# # Select duplicate rows except first occurrence based on all columns
# duplicateRowsDF = combined_csv[combined_csv.duplicated()]
# print("Duplicate Rows except first occurrence based on all columns are :")
# duplicateRowsDF.shape

In [7]:
# duplicateRowsDF[:20] #Ignore for now

### TABLE INFO

In [8]:
combined_csv.shape

(4682811, 9)

In [9]:
combined_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4682811 entries, 0 to 724679
Data columns (total 9 columns):
Date        object
Country     object
City        object
Specie      object
count       int64
min         float64
max         float64
median      float64
variance    float64
dtypes: float64(4), int64(1), object(4)
memory usage: 357.3+ MB

In [10]:
combined_csv.count()

Date        4682811
Country     4682811
City        4682811
Specie      4682811
count       4682811
min         4682811
max         4682811
median      4682811
variance    4682811
dtype: int64

In [11]:
missing = combined_csv.isna()
missing

         Date  Country   City  Specie  count    min    max  median  variance
0       False    False  False   False  False  False  False   False     False
1       False    False  False   False  False  False  False   False     False
2       False    False  False   False  False  False  False   False     False
3       False    False  False   False  False  False  False   False     False
4       False    False  False   False  False  False  False   False     False
...       ...      ...    ...     ...    ...    ...    ...     ...       ...
724675  False    False  False   False  False  False  False   False     False
724676  False    False  False   False  False  False  False   False     False
724677  False    False  False   False  False  False  False   False     False
724678  False    False  False   False  False  False  False   False     False
724679  False    False  False   False  False  False  False   False     False

[4682811 rows x 9 columns]

In [12]:
missing.sum()

Date        0
Country     0
City        0
Specie      0
count       0
min         0
max         0
median      0
variance    0
dtype: int64

We summed up each column in the boolean DataFrame, which is summing up just False and True values.    
This result simply returns the number of values that are True.    
In our case the True values represent missing values in our original DataFrame, so we now have the number of missing values in each column. In our case : 0

In [13]:
combined_csv.describe() #not useful_now

              count           min           max        median      variance
count  4.682811e+06  4.682811e+06  4.682811e+06  4.682811e+06  4.682811e+06
mean   1.284041e+02  6.996451e+01  1.071610e+02  8.402456e+01  7.837435e+03
std    1.842525e+02  2.414697e+02  2.464326e+02  2.400037e+02  2.262167e+05
min    2.000000e+00 -3.276600e+03 -3.065600e+03 -3.065600e+03  0.000000e+00
25%    4.300000e+01  1.000000e+00  1.100000e+01  4.200000e+00  2.761000e+01
50%    7.200000e+01  3.600000e+00  3.000000e+01  1.320000e+01  1.940000e+02
75%    1.510000e+02  1.600000e+01  7.300000e+01  3.500000e+01  1.040825e+03
max    2.856000e+03  1.395000e+03  3.276400e+03  2.224000e+03  6.812430e+07

### PREPARE TABLES :

RENAME COLUMN NAMES

In [14]:
combined_csv.rename(columns = {"Date":"date","Country":"c_code","City":"city","Specie":"gauge" },inplace = True)

In [15]:
#convert to date time object & set_index

In [16]:
combined_csv.set_index(pd.to_datetime(combined_csv['date']),inplace = True)

In [17]:
#sort values

In [18]:
combined_csv.sort_index(ascending=True,inplace = True)

In [19]:
combined_csv.drop(columns = ['date'],axis = 1,inplace = True)

In [20]:
#check all changes made

In [21]:
combined_csv.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4682811 entries, 2014-12-29 to 2020-05-06
Data columns (total 8 columns):
c_code      object
city        object
gauge       object
count       int64
min         float64
max         float64
median      float64
variance    float64
dtypes: float64(4), int64(1), object(3)
memory usage: 321.5+ MB

In [22]:
combined_csv[0:5]

           c_code           city gauge  count   min    max  median  variance
date
2014-12-29     US        Houston   no2    115   0.8   27.2     8.1    391.47
2014-12-29     CN         Xining    co    158   3.8   52.7    18.2    902.74
2014-12-29     GB        Preston  pm25     35  69.0  159.0   109.0   7405.76
2014-12-29     JP     Utsunomiya    o3    243   0.8   24.1    11.2    475.41
2014-12-29     US  Staten Island    o3     23   4.0   28.1    16.0    469.54

CONVERT COUNTRY CODE TO COUNTRY NAME

In [23]:
combined_csv.c_code.nunique() #no of unique counries

95

In [24]:
exclu_list = ['XK'] # Invalid codes I found in DataFrame

In [25]:
combined_csv = combined_csv[combined_csv.c_code.isin(exclu_list) == False]

In [26]:
combined_csv['country'] = combined_csv.apply(lambda x:pc.country_alpha2_to_country_name(x['c_code']),axis=1)

In [27]:
combined_csv[0:5]

,c_code,city,gauge,count,min,max,median,variance,country
date,,,,,,,,,
2014-12-29,US,Houston,no2,115,0.8,27.2,8.1,391.47,United States
2014-12-29,CN,Xining,co,158,3.8,52.7,18.2,902.74,China
2014-12-29,GB,Preston,pm25,35,69.0,159.0,109.0,7405.76,United Kingdom
2014-12-29,JP,Utsunomiya,o3,243,0.8,24.1,11.2,475.41,Japan
2014-12-29,US,Staten Island,o3,23,4.0,28.1,16.0,469.54,United States

### SELECT DATE RANGE

##### Start Date

In [28]:
min(combined_csv.index)

Timestamp('2014-12-29 00:00:00')

##### End Date

In [29]:
max(combined_csv.index)

Timestamp('2020-05-06 00:00:00')

In [30]:
combined_csv.index.year.unique()

Int64Index([2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype='int64', name='date')

In [31]:
#remove 2014 since it doesn't have much records

In [32]:
combined_csv = combined_csv['2015':'2021']

In [33]:
#recheck

In [34]:
display("Start Date : {}".format(min(combined_csv.index)),"End Date : {}".format(max(combined_csv.index)))

'Start Date : 2015-01-01 00:00:00'

'End Date : 2020-05-06 00:00:00'

####  POLLUTANT -INDIVIDUAL TABLES

In [35]:
# co_df   = combined_csv[combined_csv.gauge=='co']
# no2_df  = combined_csv[combined_csv.gauge=='no2']
# o3_df   = combined_csv[combined_csv.gauge=='o3']
# pm25_df = combined_csv[combined_csv.gauge=='pm25']
# so2_df  = combined_csv[combined_csv.gauge=='so2']
# pm10_df = combined_csv[combined_csv.gauge=='pm10']

*****

#### EXPORT TO CSV
 
*****

####  POLLUTANT - COMBINED

In [42]:
pollutant_list = ['co', 'no2', 'so2', 'pm10', 'pm25', 'o3']
pollutant_df = combined_csv[combined_csv['gauge'].isin(pollutant_list)][['gauge','median']]
pollutant_df.reset_index(inplace=True)
pollutant_df_perc = pollutant_df['median'].groupby(pollutant_df['gauge']).count()
pollutant_df_perc = pollutant_df_perc.reset_index()
pollutant_df_perc.rename(columns ={'median':'count'}, inplace = True)

In [43]:
pollutant_df_perc[0:5]

         date  median
gauge
co     410187  410187
no2    542383  542383
o3     520526  520526
pm10   524261  524261
pm25   527432  527432

In [ ]:
path = 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\Processed\\pollutant_csv.csv'
pollutant_df.to_csv( path, index=False, encoding='utf-8-sig')

####  ALL DATA

In [37]:
# combined_csv.reset_index(inplace=True)
# path = 'C:\\Users\\LOCALGHOST\\Desktop\\DATASETS\\AIR_QUALITY\\WAQI\\Processed\\combined_csv.csv'
# combined_csv.to_csv( path, index=False, encoding='utf-8-sig')

#### EXTRA

In [38]:


# gauge_list = sorted(combined_csv['gauge'].unique())
# country_list = sorted(combined_csv.country.unique())
# city_list = sorted(combined_csv.city.unique())

# country_li = widgets.Dropdown(options = country_list)
# gauge_li = widgets.Dropdown(options = gauge_list)
# city_li = widgets.Dropdown(options = city_list)